html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.container {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.log {
    font-family: Lora;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    padding-top: 20px;
}

.nav {
    padding-top: 27px;
    margin-right: 20px;
}

.nav_menu {
    display: flex;
}

.menu_item {
    font-family: Oxygen;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6000000238418579px;
    padding-left: 41px;
}

.menu_link {
    color: black;
}

.main_title {
    text-align: center;
    margin-top: 109px;
}

.title {
    font-family: Lora;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.subtitle {
    font-family: Oxygen;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #2E2E2EA1;
    ;
}

.space {
    width: 100%;
    margin-top: 113px;
    height: 534px;
}

.main_content {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 140px;
}

.main_text {
    font-family: Oxygen;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    color: #101315;
    margin-bottom: 35px;
}

.footer {
    background-image: url(BACKGROUND.png);
    background-size: cover;
    height: 89px;
    margin-top: 170px;
}

.footer_background {
    background-color: rgba(35, 47, 56, 0.6);
    height: 89px;
}

.footer_container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_log {
    font-family: Lora;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: white;
    padding-top: 31px;
    padding-left: 10px;
}

.footer_nav {
    padding-top: 31px;
    margin-right: 9.97px;
}

.footer_menu {
    display: flex;
}

.footer_menu_link {
    font-family: Oxygen;
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    Color: #FFFFFF99;
    padding-left: 20px;
}